.expense-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2% 5%;
    max-height: 100vh;
}

.expenseData{
    text-align: center;
    width: 85%;
    padding: 1% 1%;
}

.expenseSolver{
    text-align: center;
    width: 65%;
    padding: 1% 1%;
    margin-left: 20%;
}

.expense-box{
    border: 1px solid #CFCFCF;
    border-radius: 10px;
    padding: 1% 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    font-size: larger;
    text-align: left;
    min-height: 25vh;
}

@media screen and (max-height: 750px) {
    .expenseSolver{
        max-height: 40vh;
    }
    #resolution-form{
        max-height: 32vh;
    }
    .expenseSolver h2,h3{
        font-size: 1.4rem;
    }

}

.table{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.column{
    width: 45%;
    height: 100%;
    padding: 1% 1%;
}

.row-element{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 0%;
}

.row-element>p{
    color: #919191;
}
.row-element>b{
    max-width: 85%;
}

.expense-box>form{
    width: 100%;
}

#resolution-form{
    padding: 2%;
}


.timeline-div{
    border: 1px solid #CFCFCF;
    border-radius: 10px;
    width: 100%;
    min-height: 100px;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #fff;
    height: 100%;
}

.timeline-div::-webkit-scrollbar{
    display: none;
}

.timeline{
    margin: 0;
    padding-top: 3%;
}