
.requestsDiv{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin-top: 100px;
}

.pending{
    background-color: #f1c40f;
}
.requestsList{
    width: 100%;
    border-radius: 10px;
    padding: 1%;
    margin-top: 10px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.filters{
    display: flex;
    flex-direction: column;
    padding: 5% 1% 5% 5%;
}


.inactive{
    display: none;
}

.requests{
    width: 90%;
    height: 100%;
    max-height: 70vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.requests::-webkit-scrollbar{
    width: 3px;
}
.requests::-webkit-scrollbar-thumb{
    background-color: #CFCFCF;
    border-radius: 5px;
}



.requestItem{
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    /* margin-top: 1vh; */
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5%;
    margin-top: 1%;
}

.toggleRequest{
    background-color: white;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1%;
    margin-bottom: 5px;
}


.requestHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0% 3%;

}



.requestButton {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 16px;
    color: #333;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
}

.refresh{
    cursor: pointer;
    position: absolute;
    left: 75%;

}

    
