
.requestsDiv{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    margin-top: 100px;
}
.requestsList{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.filters{
    display: flex;
    flex-direction: column;
    padding: 5% 1% 5% 5%;
}



.requests{
    width: 90%;
    height: 100%;
}
.requestItem{
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    /* margin-top: 1vh; */
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
    margin-top: 1%;
}